/*
CSS for Mywebsite
*/

/* Top of page button */
html {
    color: #e8e6e3;
}

#top-button {
    z-index: 2;
    background-color: #4CAF50;    
    height: 75px;
    width: 75px;
    padding: 0;
    position: fixed;
    right: 30px;
    bottom: 30px;
    border-radius: 10px;
    opacity: 0;
    transition: 200ms;
    border: none;
}

#top-button:hover {
    cursor: pointer;
    border: #3b993e 3.5px solid;
    transition: border 0.1s ease-in;
}

/* Structure */

body {
    padding: 0;
    margin: 0;
    background-image: url(grey-circuit.jpg);
}
  
.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#inner-wrapper {
    background-color: #4e5457;
    border-radius: 10px;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 4vh;
    margin-bottom: 4vh;
    flex: 1;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
}

main, footer {
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 2rem;
}

header {
    flex-basis: 8rem;
}

.container {
    display: flex;
    flex-direction: column;
    font-size:  2rem;
    width: 100%;
}


a {
    font-size: 1.5rem;
}

a:hover {
    transition: .5s ease-in-out;
    text-underline-offset: 8px; 
}

a:visited {
    color: none ;
}

/* MAIN TEXT */

#mainText {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 2rem;
    flex-basis: 100%;
    line-height: 3rem;
    font-size: 1.75rem;
}

#content-block {
    flex-basis: 100%;
    background-color: #5a6265;
}

#inner-content, #inner-content-project {
    display: flex;          /* enables side-by-side layout */
    align-items: flex-start; /* aligns top of image and text */
    gap: 20px; 
    padding: 1.5rem;
}

#inner-content-project {
    flex-direction: column;
}

.cb-image {
    box-shadow: #000000 1px 2px 10px 1px;
    width: 300px; /* or any width you want */
    height: auto; /* keeps image proportion */
    margin-bottom: 1rem;
    margin-top: 0.9rem;
    margin-right: 1rem;
}

.cb-image-project {
    box-shadow: #000000 1px 2px 10px 1px;
    width: 500px; /* or any width you want */
    align-self: center;
}

.cb-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex:1;
}

::marker {
    color: #000000;
}

ul {
    margin: 0px;
}


h1, h2, h3 {
    border-bottom: 3px solid #8c8273;
    padding-bottom: 15px;
    margin: 0px;
    color:#f0e9dc;
}

h1 {
    font-size:  3rem;
    flex-basis: 0%;
}

h2 {
    flex: 1;
    margin-top: 1rem;
    font-size: 2.5rem;    
}

h3 {
    font-size: 2.1rem;
}

p {
    margin: 0;
}

.project-button {
    padding: 15px;
    text-align: center;
    background-color: #444444;
    color: #e4e4e4;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.2s ease;
}

.project-button:hover {
    background-color: #555555; 
    transform: scale(1.02);
}

/* Footer */
footer { 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 1.5rem;
    padding-top: 1rem;
    border-top: 3px solid #8c8273;
}

.footer_hyperlink {
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.3s ease-out;
    color: #ffffff;

    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.footer_hyperlink:hover {    
    opacity: 1;
}

.linkFooter {
    text-decoration: underline;
    text-underline-offset: 4px;
    vertical-align: 0.1rem;
}

.footer_hyperlink:hover .linkFooter {
    transition: .2s ease-in-out;
    text-underline-offset: 8px;
} 

.footer_item{
    z-index: 1;
    height: 3rem;
    flex-basis: 100%;
}

.imgFooter {
    width: 2.2rem;
    height: 1.9rem;
    padding-right: 0.5rem;
}

#copy {
    flex-basis: 100%;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/* SCROLLBAR */

/* width */
body::-webkit-scrollbar {
    width: 20px;
}
  
/* Track */
body::-webkit-scrollbar-track {
    background-color: rgb(136, 136, 136);
}
 
/* Handle */
body::-webkit-scrollbar-thumb {
    background: rgb(53, 53, 53); 
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
    background: rgb(41, 41, 41); 
}

/* Navigation */

.nav-container {
    box-shadow: 0px 3px 10px 2px #383c3f;
    margin: 0ch;
    display: flex;
    flex-direction: row;
    
    height: 100%;
    padding-left: 0px;
    background-color: #5a6265;
}

.nav-item {
    cursor: pointer; 
    flex-grow: 1;
    display: block;
}

.nav-item:hover {
    min-width: 0;
    background-color: #4a5154;
    transition: all 0.7s ease;  
}

.nav_link {
    text-underline-offset: 4px;
    display: flex;
    color: #f0e9dc;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    min-height: 100%;
    min-width: 100%;
}

.nav_link:hover{
    text-underline-offset: 4px;
    transition: width .5s ease-in-out;
}

.nav-item::after {
    transition: width 0.3s ease-in-out;
}

/* bigger screens */  
@media screen and (min-width: 901px) {

    .nav-item {
        display: grid;
        grid-template-rows: 100% 0%;
        grid-template-columns: 0% 100%;
    }

    .nav-item:first-child {
        grid-template-columns: 100%
    }


    #item2::after, #item3::after {
        grid-column: span 2;
    }
    
    .nav-item::after {
        display: block;
        content: '';
        width: 0%;
        height: 5px;
        transition: width 0.3s ease-in-out;
        background: #8c8273;
    }
    
    .nav-item:hover::after {
        width: 100%;
    }

    .nav-item:not(:first-child)::before {
        content: "";
        margin-top: 2rem;
        height: 50%;
        border-right: 3px solid #8c8273;
    }

}

/* longer screens */
@media screen and (min-height: 1000px) {
    html {
        font-size: x-large;
    }
}


/* smaller screens */
@media screen and (max-width: 900px) {

    .nav-container {
        display: flex;
        flex-direction: column;
    }
    
    .nav_link {
        height: 5rem;
        width: 100%;
        justify-content: center;
        align-items: center;
    }       


    .nav-item:not(:first-child)::before {
        content: "";
        display: block;
        margin-left: 3rem;
        margin-right: 3rem;
        border-bottom: 3px solid #8c8273;
    }

    #inner-content {
        flex-direction: column;
    }

    .cb-image { 
        align-self: center;
        margin-bottom: 0rem;
    }
}