/*
CSS for Mywebsite
*/

html {
    font-size: 15px;
}

/* Top of page button */
#top-button {
    z-index: 2;
    height: 75px;
    width: 75px;
    padding: 0;
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-radius: 50px;
    opacity: 0;
    transition: 200ms;
    border: none;
}

#top-button:hover {
    cursor: pointer;
    background-color: rgb(69, 187, 73);    
}

/* Structure */

body {
    font-size: 1;
    padding: 0;
    margin: 0;
    background-color: #e4e4e4;
}
  
.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#inner-wrapper {
    border-radius: 10px;
    margin: 3.5rem;
    margin-top: 3rem;
    display: flex;
    flex: 1;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
}

header {
    flex-basis: 8.5rem;
}

main, header {
    opacity: 0;
    transform: translateY(-100px);
    transition: 0.5s ease;
}

.show {
    opacity: 1;
    transform: translateY(0px);   
}

/* Shadows */

.content-block, .cb-image, .cb-image-project, footer, .nav-container {
    box-shadow: 0 6px 18px 8px rgba(0,0,0,0.15);   
}

/* Images */

.cb-image, .cb-image-project{
    float: left;
    max-width: 100%; /* or any width you want */
    height: auto; /* keeps image proportion */
    margin-top: 0.9rem;
    margin-right: 1rem;
}

/* hyperlinks */

.footer_hyperlink, .nav_link, #copy {
    color: #f7fafc;
    font-size: 1.8rem;  
}

/* footer and Nav color */

.nav-container {
    background-color: rgb(36, 44, 59);
}

footer { 
    background: linear-gradient(rgba(36, 44, 59, 0.9), rgba(36, 44, 59, 0.9)), url("footer-image.jpeg");
    background-size: cover;
    background-position: center;
}

.nav-item:hover {
    min-width: 0;
    background-color: rgb(24, 29, 39);
    transition: all 0.7s ease;  
}

/* button color */

#top-button {
    background-color: #4fcc54;    
}

.project-button {
    background-color: #2D3748;
}

.project-button:hover {
    background-color: #2c3136;  
}

/* Navigation */

.nav-container {
    margin: 0ch;
    display: flex;
    flex-direction: row;
    
    height: 100%;
    padding-left: 0px;
}

.nav-item {
    cursor: pointer; 
    flex-grow: 1;
    display: block;
}

.nav_link {
    height: 10rem;
    text-underline-offset: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    min-width: 100%;
}

.nav_link:hover{
    text-underline-offset: 4px;
    color: rgb(238, 238, 238);
    transition: width .5s ease-in-out;
}


.container {
    display: flex;
    flex-direction: column;
    font-size:  2rem;
    width: 100%;
    gap: 20px;
}

a:hover {
    transition: .5s ease-in-out;
    text-underline-offset: 8px; 
}

a:visited {
    color: none ;
}

/* MAIN TEXT */

.mainText {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-basis: 100%;
    line-height: 3rem;
    font-size: 1.75rem;
}

.content-block {
    height: auto;
    max-width: 100%;
    flex-basis: 100%;
    background-color: #eeeeee;
}

.inner-content, .inner-content-project {
    height: auto;
    max-width: 100%;
    align-items: flex-start; /* aligns top of image and text */
    gap: 20px; 
    padding: 2rem;
}

.inner-content-project {
    display: flex;
    flex-direction: column;
}


.cb-text {
    font-size: 2rem;
    flex:1;
}

ul {
    padding-left: 25px;
    margin: 0px;
}


h1 {
    border-bottom: 3px solid rgb(0, 0, 0);;
    padding-bottom: 1rem;
    margin: 0px;
    font-size:  3rem;
    flex-basis: 0%;
}

h2 {
    flex: 1;
    margin-top: 1rem;
    padding-bottom: 0px;
    margin: 0px;
    font-size: 2.75rem;    
}

h3 {
    margin: 0;
    font-size: 2.25rem;
}

p {
    margin: 0.5rem;
}

.project-button {
    padding: 15px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.2s ease;
}

/* Footer */

footer { 
    flex-basis: 8.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.footer_hyperlink {
    display: inline-flex;
    text-decoration: none;
    transition: all 0.3s ease-out;
}

.footer_hyperlink:hover {    
    color: #ffffff;
}

.linkFooter {
    text-decoration: underline;
    text-underline-offset: 4px;
    vertical-align: 0.1rem;
}

.footer_hyperlink:hover .linkFooter {
    transition: .2s ease-in-out;
    text-underline-offset: 8px;
} 

.footer_item{
    z-index: 1;
    height: 3rem;
    flex-basis: 100%;
}

#imgMail, #imgResume {
    margin-top: 4px;
    margin-right: 10px;
}

#imgMail {
    width: 2rem;
    height: 1.5rem;
}

#imgResume {
    width: 1.8rem;
    height: 1.8rem;
}

#copy {
    font-size: 1.75rem;
    margin-top: 0.5rem;
    flex-basis: 100%;
    text-align: center;
}

/* SCROLLBAR */

/* width */
body::-webkit-scrollbar {
    width: 20px;
}
  
/* Track */
body::-webkit-scrollbar-track {
    background-color: rgb(136, 136, 136);
}
 
/* Handle */
body::-webkit-scrollbar-thumb {
    background: rgb(53, 53, 53); 
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
    background: rgb(41, 41, 41); 
}

/* bigger screens */  
@media screen and (min-width: 760px) {

    .nav-item {
        display: grid;
        grid-template-rows: 100% 0%;
        grid-template-columns: 0% 100%;
    }

    .nav-item:first-child {
        grid-template-columns: 100%
    }


    #item2::after, #item3::after {
        grid-column: span 2;
    }
    
    .nav-item::after {
        display: block;
        content: '';
        width: 0%;
        height: 5px;
        transition: width 0.3s ease-in-out;
        background: rgb(53, 64, 82);
    }
    
    .nav-item:hover::after {
        width: 100%;
    }

    .nav-item:not(:first-child)::before {
        content: "";
        margin-top: 2.5rem;
        height: 50%;
        border-right: 3px solid #000000;
    }

}


/* smaller screens */
@media screen and (max-width: 759px) {

    footer {
        flex-basis: 20vh;
    }

    #inner-wrapper {
        margin: 2rem;
    }

    .cb-image, .cb-image-project {
        float: none;        
        display: block;
        margin: 0 auto 1.25rem auto;
    }

    html {
        font-size: 13px;
    }

    .nav-container {
        display: flex;
        flex-direction: column;
    }
    
    .nav_link {
        height: 8rem;
        width: 100%;
        justify-content: center;
        align-items: center;
    }       


    .nav-item:not(:first-child)::before {
        content: "";
        display: block;
        width: inherit;
        margin-left: 3rem;
        margin-right: 3rem;
        border-bottom: 3px solid #000000;
    }

    #inner-content {
        flex-direction: column;
    }
}