/*
CSS for Mywebsite
*/

html, body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0ch;
    display: flex;
    flex-direction: column;
    background: rgb(187, 187, 187);
    font-size: 62.5%;
    min-height: 100%;
    min-width: 100%;
}
  

header {
    flex-basis: 0;
    flex-grow: 0;
}

main {
    flex-basis: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

/* Navigation */

ul {
    height: 10rem;
    margin: 0ch;
    flex-basis: 0;
    display: flex;
    flex-direction: row;
    margin-bottom: 0px;
    padding-left: 0px;
    background-color: rgb(77, 77, 77);
}

li{
    cursor: pointer; 
    flex-basis: 0;
    flex-grow: 1;
    display: block;
}

li:hover {
    min-width: 0;
    background-color: rgb(76, 90, 112);
    transition: all 0.7s ease;  
}

.nav_link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(200, 201, 204);
    font-size: 25px;
    min-height: 100%;
    min-width: 100%;
}

.nav_link:hover{
    color: rgb(255, 255, 255);
    transition: width .5s ease-in-out;
}

/* Navigation layout for bigger screens */  
@media screen and (min-width: 800px) {

    li:not(:first-child) {
        display: grid;
        grid-template-rows: 100% 0%;
        grid-template-columns: 0% 100%;
    }
   
    li:first-child {
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 100% 0;
    }

    #item1::after {
        grid-column: span 2;
    }

    #item2::after {
        grid-column: span 2;
    }

    #item3::after {
        grid-column: span 2;
    }


    li::after {
        content: '';
        text-align: center;
        height: 0.3rem;
        width: 0rem;
        transition: width .5s ease-in-out;
    }
    
    li:hover:after {
        width: 100%;
        background: rgb(76, 90, 112);
    }


    li:not(:first-child)::before {
        content: "";
        margin-top: 2rem;
        height: 60%;
        border-right: 3px solid #000000;
    }

    #img1 {
        margin-left: 1rem;
    }
}

/* Navigation layout for smaller screens */
@media screen and (max-width: 800px) {
    ul {
        box-shadow: 0px 3px 10px 2px rgb(56, 56, 56);
        background: none;
        flex-direction: column;
    }
    
    .nav_link {
        height: 5rem;
        width: 100%;
        justify-content: center;
        align-items: center;
    }       

    li {
        background-color: rgb(77, 77, 77);
    }

    #information {
        display: flex;
        flex-direction: column;
    }

    #img1{
        max-width: 60%;
        max-height: 70%;
    }

    li:not(:first-child)::before {
        content: "";
        display: block;
        width: inherit;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        border-bottom: 3px solid #000000;
    }

}

a {
    width: 100%;
    font-size: 1.5rem;
    text-decoration: none;
}


/* MAIN TEXT */

.container {
    margin: 1.5rem;

    flex-basis: 0;
    flex-grow: 1;
    border-radius: 10px;
    background: rgb(151, 152, 155);

    display: flex;
    flex-direction: column;

    font-size: 25px;

    padding: 20px;
}

h1 {
    border-bottom: 3px solid rgb(0, 0, 0);;
    padding-bottom: 20px;
    margin: 0px;
}

#information {
    min-height: 0rem;
    min-width: 0rem;
    line-height: 2.25rem;
}


#img1 {
    border: none;
    box-shadow: 0px 2px 10px;
    float: right;
    margin-bottom: 1rem;
    margin-left: 2rem;
}

/* Footer */
footer { 
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5rem;
    padding-top: 0.6rem;
    padding-bottom: 1rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    border-top: 3px solid rgb(0, 0, 0);
}

.footer_hyperlink {
    opacity: 0.75;
    transition: all 0.3s ease-out;
    display: block;
    max-width: 14rem;
    height: 3rem;
    color: rgb(78, 78, 78);
}

.footer_hyperlink:hover {
    opacity: 1;
    color: #000000;
    text-decoration: none;
    text-decoration-line: underline;
}

.personal {
    vertical-align: 0.5rem;
}

.footer_item{
    mix-blend-mode: color-burn;
    flex-basis: 100%;
}

#copy {
    flex-basis: 100%;
    text-align: center;
    align-self: center;
}



/* SCROLLBAR */

/* width */
body::-webkit-scrollbar {
    width: 20px;
}
  
/* Track */
body::-webkit-scrollbar-track {
    background-color: rgb(136, 136, 136);
}
 
/* Handle */
body::-webkit-scrollbar-thumb {
    background: rgb(53, 53, 53); 
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
    background: rgb(41, 41, 41); 
}